BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst" SITE "L14" ;
LOCATE COMP "led[0]" SITE "K1" ;
LOCATE COMP "led[1]" SITE "A11" ;
LOCATE COMP "led[2]" SITE "B12" ;
LOCATE COMP "led[3]" SITE "H2" ;
LOCATE COMP "led[4]" SITE "H1" ;
LOCATE COMP "led[5]" SITE "J1" ;
LOCATE COMP "led[6]" SITE "B14" ;
LOCATE COMP "led[7]" SITE "C12" ;
LOCATE COMP "led[8]" SITE "F1" ;
LOCATE COMP "led[9]" SITE "B9" ;
LOCATE COMP "led[10]" SITE "A9" ;
LOCATE COMP "led[11]" SITE "E2" ;
LOCATE COMP "led[12]" SITE "E1" ;
LOCATE COMP "led[13]" SITE "F2" ;
LOCATE COMP "led[14]" SITE "C11" ;
LOCATE COMP "led[15]" SITE "A10" ;
LOCATE COMP "led_dig[0]" SITE "A12" ;
LOCATE COMP "led_dig[1]" SITE "C9" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_dig[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_dig[1]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "P[0]" SITE "C8" ;
LOCATE COMP "P[1]" SITE "B8" ;
LOCATE COMP "P[2]" SITE "E3" ;
LOCATE COMP "P[3]" SITE "F3" ;
LOCATE COMP "P[4]" SITE "G3" ;
LOCATE COMP "P[5]" SITE "H3" ;
IOBUF PORT "P[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "P[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "P[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "P[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "P[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "P[5]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "P[6]" SITE "E12" ;
LOCATE COMP "P[7]" SITE "F12" ;
LOCATE COMP "P[8]" SITE "G12" ;
LOCATE COMP "P[9]" SITE "F13" ;
LOCATE COMP "P[10]" SITE "F14" ;
LOCATE COMP "P[11]" SITE "G13" ;
IOBUF PORT "P[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "P[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "P[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "P[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "P[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "P[11]" IO_TYPE=LVCMOS33 ;
